.app {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  min-height: 100vh;
}

.search-form {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 15px;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  background: rgb(39, 39, 39);
  border: none;
  color: white;
  padding: 15px 25px;
}

.search-button:hover {
  cursor: pointer;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.recipe {
  display: flex;
  flex-basis: 22%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  background-color: rgb(241, 247, 241);
  padding: 25px;
  filter: drop-shadow(2px 2px 2px rgb(119, 119, 119));
  border-radius: 30px;
}

.image {
  max-width: 230px;
  height: auto;
  border-radius: 30px;
  margin: 10px;
}

.url {
  text-decoration: none;
  color: white;
  background: rgb(37, 37, 37);
  padding: 10px 20px;
  margin: 10px;

  border-radius: 7px;
}

h3 {
  margin-bottom: 5px;
  text-align: center;
}
